@model EmployeeDto

<div class="row">
    <div class="col-md-4"> 
        <form method="post" asp-controller="Employee" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control"/>

                <label asp-for="Lastname" class="control-label my-2"></label>
                <input asp-for="Lastname" class="form-control" />

                <label asp-for="Address" class="control-label my-2"></label>
                <input asp-for="Address" class="form-control" />

                <label asp-for="Deparment" class="control-label my-2"></label>
                <input asp-for="Deparment" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success my-2">Create</button>
        </form>
       
    </div>
</div>